/.env
/.phpunit.result.cache
/bootstrap/cache/*.php
/database/*.sqlite
/node_modules
/public/build
/storage/*.key
/storage/app/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/vendor
!.gitignore
!storage/app/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/cache/data/
!storage/framework/cache/data/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
